@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #000000;
  --foreground: #d1d5db;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.text-balance {
  text-wrap: balance;
}
